<!-- javacsript -->
   <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
   <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="Scripts/app.js"></script>
   <footer class="container-fluid bg-4 text-center">
  <p> Parvati Patel </p> 
  <p> student Id :- 200308239 <br> call :-705 770 4473</br> <br> email :-paro.patel@rocketmail.com</br> </p>
</footer>
  </body>
</html>
