<!-Add Header-->
<% include partials/header.ejs %>
    <div class="container-fluid bg-2 text-center" style ="padding-left:20%;padding-right:20%;min-height:300px">
  <h3>Hello </h3>
  <p>My alma matter is Goverment Engineering college speaks volume for me. A graduate  in Computer Science. I am not just another engineer in this entity. I am a visionary with a zeal to invent ordinary things that serve extra-ordinary purposes.
. </p>
  
</div>
<!- Add Footer -->
  <% include partials/footer.ejs %>