<!-Add Header-->
<% include partials/header.ejs %>
   <div class="container-fluid bg-1 text-center">
  <h3>Hi I'm</h3>
  
  <img src="images/fimage.jpg" class="img-circle"  alt="Image">
  <h3>Paro</h3>
</div>
<!-Add Footer-->
  <% include partials/footer.ejs %>
