<% include partials/header.ejs %>
    <div class="container-fluid bg-3 text-center">    
  <h3>What do I do?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>I had studied Computer Science that beasically deals with the theoritical foundation of information and computation,together with pratical techniques to implement and application of these foundation
.</p>
<br>
      <img src="images/done.jpg" alt="Image" width="350" height="250"></br>
    </div>
    <div class="col-sm-4"> 
      <p>Currently a student of Georgian college computer programming, I am learner working on my skill to  use cutting edge technology in revamping, designing and programming websites. Classical aim is to make websites easy to use.  Updating websites and redesigning to make them more handy for use is my forte. .</p>
      <img src="images/compstudy.jpg" alt="Image" width="350" height="250">
    </div>
    <div class="col-sm-4"> 
      <p>
I want to develope the ability to analyze,synthesize, and design both core parts of modern computing systems and integrated application systems centered around computers through learning the scientific foundation for hardware and software engineering and applying it in engineering exercises.</p>
      <img src="images/future.jpg" alt="Image" width="350" height="250">
    </div>
  </div>
</div>

  <% include partials/footer.ejs %>